@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coffee Healing";
  src: url(/dist/Resources/Fonts/antique-olive/Antique\ Olive\ Regular.ttf);
}
@font-face {
  font-family: "Milocha";
  src: url(/dist/Resources/Fonts/milocha.otf);
}
